<template>
  <div class="home">
    <h1>This is the home page.</h1>
    <p><new-tab-a href="https://gitlab.com/pythondude325/vue-testing">View the gitlab repository.</new-tab-a></p>
    <div>
      <h3>Parameter Testing:</h3>
      <div>Text: <input type="text" v-model="parameter_testing_text"></div>
      <div><button @click="submitParameterTest" :disabled="parameter_testing_text === ''">Go</button></div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import NewTabA from '@/components/NewTabA.vue'

export default Vue.extend({
  data(): object {
    return {
      parameter_testing_text: ""
    }
  },
  methods: {
    submitParameterTest(){
      this.$router.push({name: 'param-test', params: {text: this.$data.parameter_testing_text}})
    }
  },
  components: {
    NewTabA
  }
})
</script>